/* Move down content because we have a fixed navbar that is 50px tall */

body {
	padding-top: 50px;
	padding-bottom: 20px;
	background: #fff;
}

.face {

	z-index: 1;
	border-radius: 100%;
	width: 100px !important;
	height: 100px !important;
	overflow: hidden;
	border: 0px solid black;
	padding: 5px;
	margin: 2px;
}
 
.circle{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background: #eee;
	margin: 5px;
	color: #fff;
}

.about{
	text-align: center;
}

.sign-bg{
	 background: indianred;
	 margin-right: 8%;
}

.us{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAU+jEh8HyB7C0wAzAFJggTgHJAAAFXuA1E5qtLyAAAAAElFTkSuQmCC);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}