.demo-1 .sl-slider-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
 
.nav-arrows span {
	position: absolute;
	z-index: 2000;
	top: 50%;
	width: 40px;
	height: 40px;
	border: 8px solid #fff;
	margin-top: -40px;
	cursor: pointer;
	left: 50%;
	
	}

.nav-arrows span:hover {
	border-color: rgba(150,150,150,0.9);
}

.demo-1 .bg-1 .sl-slide-inner,
.demo-1 .bg-1 .sl-content-slice {
	background: #000;
}


.demo-1 .bg-2 .sl-content-slice {
	background: #fff;
}
 
.hide{
	visibility: hidden;
}