<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">
  <title>Blog</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <script src="http://getbootstrap.com/assets/js/jquery.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <link href="..//assets/css/blog.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brandrotate logoset" style="margin: 0; padding:0;" href="../index.html"><img src="..//assets/images/doo.png" class="logo"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="calendar.html">Calender</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="project.html">Projects</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div>

  <!-- Jumbotron -->
  <!-- Example row of columns -->
  <div class="row" style="padding-top: 20px;">
    <div class="col-lg-8 col-md-push-1" style="text-align: justify;">
      <section class="comments">
        <div>
          <p class="username"><img src="https://si0.twimg.com/sticky/default_profile_images/default_profile_5_bigger.png" /> <a href="https://twitter.com/">Titlecase</a></p>
          <p class="info">Thank you for visiting all the way from New York. This is just a test to determine if the Twitter API is working as it should. You should see your profile image and your username at the very top that links to your account. You should also see that I wrote in a thank you introduction with your location.</p>
          <button class="btn btn-alert btn-xs pull-right"><a href=""> <p align="right">...more</p></a></button>
          <div style="padding-top: 25px;">
            <p align="right">
              <i class="icon-calendar"></i> Sept 16th, 2012
              | <i class="icon-comment"></i> <a href="#">3 Comments</a>
              | <i class="icon-share"></i> <a href="#">39 Shares</a>

            </p>
          </div>
        </div>
        <hr style="border-color:#aaa;">

        <div>
          <p class="username"><img src="https://abs.twimg.com/a/1377795275/t1/img/empty_avatar.png" /> <a href="https://twitter.com/">Titlecase</a></p>
          <p class="info first">Thank you for visiting all the way from Logan Square, Chicago. This is just a test to determine if the Twitter API is working as it should. You should see your profile image and your username at the very top that links to your account. You should also see that I wrote in a thank you introduction with your location.</p>
          <button class="btn btn-alert btn-xs pull-right"><a href=""> <p align="right">...more</p></a></button>
          <div style="padding-top: 25px;">
            <p align="right">
              <i class="icon-calendar"></i> Sept 16th, 2012
              | <i class="icon-comment"></i> <a href="#">3 Comments</a>
              | <i class="icon-share"></i> <a href="#">39 Shares</a>

            </p>
          </div>
        </div>
        <hr style="border-color:#aaa;">

        <div>
          <p class="username"><img src="http://sarahspina.com/wp-content/uploads/2009/07/spider.png" /> <a href="https://twitter.com/">Titlecase</a></p>
          <p class="info">Thank you for visiting all the way from wherever you are. This is just a test to determine if the Twitter API is working as it should. You should see your profile image and your username at the very top that links to your account. You should also see that I wrote in a thank you introduction with your location.</p>
          <button class="btn btn-alert btn-xs pull-right"><a href=""> <p align="right">...more</p></a></button>
          <div style="padding-top: 25px;">
            <p align="right">
              <i class="icon-calendar"></i> Sept 16th, 2012
              | <i class="icon-comment"></i> <a href="#">3 Comments</a>
              | <i class="icon-share"></i> <a href="#">39 Shares</a>

            </p>
          </div>
        </div>
        <hr style="border-color:#aaa;">

        <div>
          <p class="username"><img src="http://behance.vo.llnwd.net/profiles18/903417/projects/4112113/dc4d3519aea8def37dfddada1b76d283.jpg" /> <a href="https://twitter.com/">Titlecase</a></p>
          <p class="info">Thank you for visiting all the way from NYC. This is just a test to determine if the Twitter API is working as it should. You should see your profile image and your username at the very top that links to your account. You should also see that I wrote in a thank you introduction with your location.</p>
          <button class="btn btn-alert btn-xs pull-right"><a href=""> <p align="right">...more</p></a></button>
          <div style="padding-top: 25px;">
            <p align="right">
              <i class="icon-calendar"></i> Sept 16th, 2012
              | <i class="icon-comment"></i> <a href="#">3 Comments</a>
              | <i class="icon-share"></i> <a href="#">39 Shares</a>

            </p>
          </div>
        </div>
        <hr style="border-color:#aaa;">

        <div>
          <p class="username"><img src="http://behance.vo.llnwd.net/profiles18/903417/projects/4112113/a50040f4f810b2bc7b1a63b4527da230.jpg" /> <a href="https://twitter.com/">Titlecase</a></p>
          <p class="info">Thank you for visiting all the way from New York, NY. This is just a test to determine if the Twitter API is working as it should. You should see your profile image and your username at the very top that links to your account. You should also see that I wrote in a thank you introduction with your location.</p>
          <button class="btn btn-alert btn-xs pull-right"><a href=""> <p align="right">...more</p></a></button>
          <div style="padding-top: 25px;">
            <p align="right">
              <i class="icon-calendar"></i> Sept 16th, 2012
              | <i class="icon-comment"></i> <a href="#">3 Comments</a>
              | <i class="icon-share"></i> <a href="#">39 Shares</a>

            </p>
          </div>
        </div>
        <hr style="border-color:#aaa;">
        <div>
          <p class="username"><img src="https://www.cloudlix.com/site/img/testimonials/user2.png" /> <a href="https://twitter.com/">Titlecase</a></p>
          <p class="info">Thank you for visiting all the way from San Francisco, CA. This is just a test to determine if the Twitter API is working as it should. You should see your profile image and your username at the very top that links to your account. You should also see that I wrote in a thank you introduction with your location.</p>
          <button class="btn btn-alert btn-xs pull-right"><a href=""> <p align="right">...more</p></a></button>
          <div style="padding-top: 25px;">
            <p align="right">
              <i class="icon-calendar"></i> Sept 16th, 2012
              | <i class="icon-comment"></i> <a href="#">3 Comments</a>
              | <i class="icon-share"></i> <a href="#">39 Shares</a>
            </p>
          </div>
        </div>
        <hr style="border-color:#aaa;">
      </section>
    </div>
    <!-- right side pan -->
    <div class="col-md-3" style="margin-top: 10%;">
      <ul>
        <li>
          <i class="icon-tags"></i> Tags :</li>
          <li><a href="#"><span class="label label-info">Snipp</span></a> </li>
          <li><a href="#"><span class="label label-info">Bootstrap</span></a> </li>
          <li><a href="#"><span class="label label-info">UI</span></a> </li>
        </ul>
      </div>
      <!-- end -->
    </div>

    <!-- Site footer -->
  </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
  </html>
