<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="..//assets/ico/favicon.png">
  <title>completed project</title>
  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <script src="http://getbootstrap.com/assets/js/jquery.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <!-- Custom styles for this template -->
  <link href="..//assets/css/contact.css" rel="stylesheet">
  <link href="..//assets/css/main.css" rel="stylesheet">
  <link href="..//assets/css/cpv.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->

    </head>
    <body>
      <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brandrotate logoset" style="margin: 0; padding:0;" href="../index.html"><img src="..//assets/images/doo.png" class="logo"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="about.html">About</a></li>
            <li><a href="..//view/contact.html">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="..//view/calendar.html">Calender</a></li>
                <li><a href="blog.html">Blog</a></li>
              </ul>
            </li>
          </ul>
          <a href="project.html"><span class="btn btn-primary pull-right" style="margin-top: 10px;">Back</a></span>
        </div><!-- /.nav-collapse -->
      </div>
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container" style="padding-top: 20px">
        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i></a> 10
                | <a href=""><i class="icon-comment"></i></a> 3
                | <a href=""><i class="icon-share"></i></a> 39
              </p>
            </div>

            <!-- 2nd-->

            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper feugait nulla facilisi.</p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i></a> 10
                | <a href=""><i class="icon-comment"></i></a> 3
                | <a href=""><i class="icon-share"></i></a> 39
              </p>
            </div>

            <!-- end-->

            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i></a> 10
                | <a href=""><i class="icon-comment"></i></a> 3
                | <a href=""><i class="icon-share"></i></a> 39
              </p>
            </div>

            <!-- end -->

            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper feugait nulla facilisi.</p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i></a> 10
                | <a href=""><i class="icon-comment"></i></a> 3
                | <a href=""><i class="icon-share"></i></a> 39
              </p>
            </div>

            <!-- end-->

            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i></a> 10
                | <a href=""><i class="icon-comment"></i></a> 3
                | <a href=""><i class="icon-share"></i></a> 39
              </p>
            </div>

          </div>
          <div class=" col-md-4 col-sm-4">
            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper feugait nulla facilisi.</p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i></a> 10
                | <a href=""><i class="icon-comment"></i></a> 3
                | <a href=""><i class="icon-share"></i></a> 39
              </p>
            </div>
            <!-- end-->
            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i></a> 10
                | <a href=""><i class="icon-comment"></i></a> 3
                | <a href=""><i class="icon-share"></i></a> 39
              </p>
            </div>

            <!-- end -->

            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i><a href="#"></a> 10
                | <a href=""><i class="icon-comment"></i> <a href="#"</a>3
                | <a href=""><i class="icon-share"></i> <a href="#"</a>39
              </p>
            </div>

            <!-- end -->

            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i><a href="#"></a> 10
                | <a href=""><i class="icon-comment"></i> <a href="#"</a>3
                | <a href=""><i class="icon-share"></i> <a href="#"</a>39
              </p>
            </div>

            <!-- end -->

            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor</p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i></a> 10
                | <a href=""><i class="icon-comment"></i></a> 3
                | <a href=""><i class="icon-share"></i></a> 39
              </p>
            </div>

            <!-- end -->
          </div>
          <div class=" col-md-4 col-sm-4">
            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i></a> 10
                | <a href=""><i class="icon-comment"></i></a> 3
                | <a href=""><i class="icon-share"></i></a> 39
              </p>
            </div>

            <!-- 2nd-->

            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper feugait nulla facilisi.</p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i><a href="#"></a> 10
                | <a href=""><i class="icon-comment"></i> <a href="#"</a>3
                | <a href=""><i class="icon-share"></i> <a href="#"</a>39
              </p>
            </div>

            <!-- end-->

            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i><a href="#"></a> 10
                | <a href=""><i class="icon-comment"></i> <a href="#"</a>3
                | <a href=""><i class="icon-share"></i> <a href="#"</a>39
              </p>
            </div>

            <!-- end -->

            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i><a href="#"></a> 10
                | <a href=""><i class="icon-comment"></i> <a href="#"</a>3
                | <a href=""><i class="icon-share"></i> <a href="#"</a>39
              </p>
            </div>

            <!-- end -->

            <div class="pan">
              <h2 align="center"><a href="">Project Title</a></h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
              <hr>
              <span style="width: auto; float: left;"><a href=""> <p>...more</p></a></span>
              <p align="right">
                  <a href=""><i class="icon-thumbs-up"></i><a href="#"></a> 10
                | <a href=""><i class="icon-comment"></i> <a href="#"</a>3
                | <a href=""><i class="icon-share"></i> <a href="#"</a>39
              </p>
            </div>

          </div>
        </div>


      </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
  </html>