<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">
  <title>contact</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <script src="http://getbootstrap.com/assets/js/jquery.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <!-- Custom styles for this template -->
  <link href="..//assets/css/contact.css" rel="stylesheet">
  <link href="..//assets/css/main.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brandrotate logoset" style="margin: 0; padding:0;" href="../index.html"><img src="..//assets/images/doo.png" class="logo"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="../index.html">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="..//view/calendar.html">Calender</a></li>
                <li><a href="..//view/blog.html">Blog</a></li>
                <li><a href="project.html">Projects</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
      <div class="container">
       <div class="row-fluid">
        <div class="span8">
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=rhc,shoppers+orbit,+vishrantwadi,+pune&amp;aq=&amp;sll=18.576372,73.88031&amp;sspn=0.068179,0.077162&amp;ie=UTF8&amp;t=m&amp;ll=18.576372,73.88031&amp;spn=0.068179,0.077162&amp;output=embed"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <address>
            <strong>Doo</strong><br>
            Aenean commodo ligula eget dolor<br>
            Aenean<br>
            Aenean commodo<br>
            Aenean commodo<br>
            Aenean commodo ligula<br>
            <abbr title="Phone">P:</abbr> 01234 567 890
          </address>
        </div>
        <div class="col-md-6">
          <h2>Keep in touch</h2>
          <span class="im"><i class="icon-twitter icon-large"></i></span>
          <span class="im"><i class="icon-facebook icon-large"></i></span>
          <span class="im"><i class="icon-github-alt icon-large"></i></span>
          <span class="im"><i class="icon-google-plus icon-large"></i></span>
        </div>
      </div>
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
  </html>
