<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">

  <title>gallery</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <script src="http://getbootstrap.com/assets/js/jquery.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="..//assets/css/prestyle.css" />
  <link rel="stylesheet" type="text/css" href="..//assets/css/precustom.css" />
  <script type="text/javascript" src="..//assets/js/modernizr.custom.79639.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="..//assets/js/jquery.ba-cond.min.js"></script>
  <script type="text/javascript" src="..//assets/js/jquery.slitslider.js"></script>
  <link href="..//assets/css/imagegallery.css" rel="stylesheet">
  <link href="..//assets/css/main.css" rel="stylesheet">
</head>

<body>
   <div class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brandrotate logoset" style="padding: 0; margin: 0;" href="#"><img src="..//assets/images/doo.png" class="logo"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
        <li><a href="./view/contact.html">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="./view/calendar.html">Calender</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
  <div class="demo-1">
    <div id="slider" class="sl-slider-wrapper">
      <div class="sl-slider">
        <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
          <div class="sl-slide-inner">
          </div>
        </div>
        <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
          <div class="sl-slide-inner">


 

<div class="container starter-template">

  <div class="row ">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2" style="float: left;">
          <a href="#image-3"><img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="..." class="img-thumbnail img-responsive"><span>Title</span></a>
          <div class="lb-overlay" id="image-3">
              <img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
        </div>

        <div class="col-md-2" style="float: left;">
          <a href="#image-3"><img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="..." class="img-thumbnail"><span>Title</span></a>
          <div class="lb-overlay" id="image-3">
              <img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
        </div>

        <div class="col-md-2" style="float: left;">
          <a href="#image-3"><img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="..." class="img-thumbnail"><span>Title</span></a>
          <div class="lb-overlay" id="image-3">
              <img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
        </div>

                <div class="col-md-2" style="float: left;">
          <a href="#image-3"><img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="..." class="img-thumbnail"><span>Title</span></a>
          <div class="lb-overlay" id="image-3">
              <img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
        </div>
                <div class="col-md-2" style="float: left;">
          <a href="#image-3"><img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="..." class="img-thumbnail"><span>Title</span></a>
          <div class="lb-overlay" id="image-3">
              <img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
        </div>
                <div class="col-md-2" style="float: left;">
          <a href="#image-3"><img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="..." class="img-thumbnail"><span>Title</span></a>
          <div class="lb-overlay" id="image-3">
              <img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
        </div>
                <div class="col-md-2" style="float: left;">
          <a href="#image-3"><img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="..." class="img-thumbnail"><span>Title</span></a>
          <div class="lb-overlay" id="image-3">
              <img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
        </div>
                <div class="col-md-2" style="float: left;">
          <a href="#image-3"><img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="..." class="img-thumbnail"><span>Title</span></a>
          <div class="lb-overlay" id="image-3">
              <img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
        </div>
                <div class="col-md-2" style="float: left;">
          <a href="#image-3"><img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="..." class="img-thumbnail"><span>Title</span></a>
          <div class="lb-overlay" id="image-3">
              <img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
        </div>
                <div class="col-md-2" style="float: left;">
          <a href="#image-3"><img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="..." class="img-thumbnail"><span>Title</span></a>
          <div class="lb-overlay" id="image-3">
              <img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
        </div>
                <div class="col-md-2" style="float: left;">
          <a href="#image-3"><img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="..." class="img-thumbnail"><span>Title</span></a>
          <div class="lb-overlay" id="image-3">
              <img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
        </div>
                <div class="col-md-2" style="float: left;">
          <a href="#image-3"><img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="..." class="img-thumbnail"><span>Title</span></a>
          <div class="lb-overlay" id="image-3">
              <img src="http://fin6.com/wp-content/uploads/2013/07/fb81531cc9cf1512dce7f0e5f36e40fe.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
        </div>


        </div><!--/row-->
      </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
      <p>&copy; Company 2013</p>
    </footer>

  </div>

          </div>
        </div>
      </div><!-- /sl-slider -->
      <div id="nav-arrows" class="nav-arrows">
        <span>&nbsp;</span>
      </div>
    </div><!-- /slider-wrapper -->
  </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
  </html>
