<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <script src="http://getbootstrap.com/assets/js/jquery.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

  <link href="..//assets/css/imagegallery.css" rel="stylesheet">
  <link href="..//assets/css/main.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand brandrotate logoset" style="padding: 0; margin: 0;" href="#"><img src="..//assets/images/doo.png" class="logo"></a>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="./view/contact.html">Contact</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="./view/calendar.html">Calender</a></li>
                        <li><a href="#">Blog</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
        <ul class="lb-album">
          <li>
            <a href="#image-1">
              <img src="..//assets/images/thumbs/1.jpg" alt="image01">
              <span>Title</span>
            </a>
            <div class="lb-overlay col-md-3" id="image-1">
              <a href="#page" class="lb-close">x Close</a>
              <img src="..//assets/images/full/1.jpg" alt="image01" />
              <div>
                <h3>Title <span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              
            </div>
          </li>
          <li>
            <a href="#image-2">
              <img src="..//assets/images/thumbs/2.jpg" alt="image02">
              <span>Port de bras</span>
            </a>
            <div class="lb-overlay" id="image-2">
              <img src="..//assets/images/full/2.jpg" alt="image02" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
          </li>
          <li>
            <a href="#image-3">
              <img src="..//assets/images/thumbs/3.jpg" alt="image03">
              <span>Title</span>
            </a>
            <div class="lb-overlay" id="image-3">
              <img src="..//assets/images/full/3.jpg" alt="image03" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
          </li>
          <li>
            <a href="#image-4">
              <img src="..//assets/images/thumbs/4.jpg" alt="image04">
              <span>Title</span>
            </a>
            <div class="lb-overlay" id="image-4">
              <img src="..//assets/images/full/4.jpg" alt="image04" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
          </li>
          <li>
            <a href="#image-5">
              <img src="..//assets/images/thumbs/5.jpg" alt="image05">
              <span>Title</span>
            </a>
            <div class="lb-overlay" id="image-5">
              <img src="..//assets/images/full/5.jpg" alt="image05" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
          </li>
          <li>
            <a href="#image-6">
              <img src="..//assets/images/thumbs/6.jpg" alt="image06">
              <span>Title</span>
            </a>
            <div class="lb-overlay" id="image-6">
              <img src="..//assets/images/full/6.jpg" alt="image06" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
          </li>
          <li>
            <a href="#image-7">
              <img src="..//assets/images/thumbs/7.jpg" alt="image07">
              <span>Title</span>
            </a>
            <div class="lb-overlay" id="image-7">
              <img src="..//assets/images/full/7.jpg" alt="image07" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
          </li>
          <li>
            <a href="#image-8">
              <img src="..//assets/images/thumbs/8.jpg" alt="image08">
              <span>Title</span>
            </a>
            <div class="lb-overlay" id="image-8">
              <img src="..//assets/images/full/8.jpg" alt="image08" />
              <div>             
                <h3>Title<span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
          </li>
          <li>
            <a href="#image-9">
              <img src="..//assets/images/thumbs/9.jpg" alt="image09">
              <span>Title</span>
            </a>
            <div class="lb-overlay" id="image-9">
              <img src="..//assets/images/full/9.jpg" alt="image09" />
              <div>             
                <h3>Title <span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
          </li>
          <li>
            <a href="#image-10">
              <img src="..//assets/images/thumbs/10.jpg" alt="image10">
              <span>Title</span>
            </a>
            <div class="lb-overlay" id="image-10">
              <img src="..//assets/images/full/10.jpg" alt="image10" />
              <div>             
                <h3>Title <span>subtitle</h3>
                <p>dummy dummy dummy</p>
              </div>
              <a href="#page" class="lb-close">x Close</a>
            </div>
          </li>
        </ul>
        </div>
       
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
