<!DOCTYPE html>
<html lang="en">
<head>
	<title>presentation</title>
	<link rel="shortcut icon" href="../favicon.ico"> 
	<link rel="stylesheet" type="text/css" href="..//assets/css/prestyle.css" />
	<link rel="stylesheet" type="text/css" href="..//assets/css/precustom.css" />
	<script type="text/javascript" src="..//assets/js/modernizr.custom.79639.js"></script>
	
</head>
<body>
	<div class="container demo-1">
		<div id="slider" class="sl-slider-wrapper">
			<div class="sl-slider">
				<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
					<div class="sl-slide-inner">
					</div>
				</div>

				<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
					<div class="sl-slide-inner">
						<div class="col-md-2" style="float: left;">
							<a href="#image-3">
								<img src="..//assets/images/thumbs/3.jpg" alt="..." class="img-thumbnail img-responsive">
								<span>Title</span>
							</a>
							<div class="lb-overlay" id="image-3">
								<img src="..//assets/images/full/3.jpg" alt="image03" />
								<div>
									<h3>Title<span>subtitle</h3>
									<p>dummy dummy dummy</p>
								</div>
								<a href="#page" class="lb-close">x Close</a>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /sl-slider -->
			<div id="nav-arrows" class="nav-arrows">
				<span>Enter</span>
			</div>
		</div><!-- /slider-wrapper -->
	</div>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="..//assets/js/jquery.ba-cond.min.js"></script>
	<script type="text/javascript" src="..//assets/js/jquery.slitslider.js"></script>


</body>
</html>