<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">
  <title>project</title>
  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <script src="http://getbootstrap.com/assets/js/jquery.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <!-- Custom styles for this template -->
  <link href="..//assets/css/contact.css" rel="stylesheet">
  <link href="..//assets/css/main.css" rel="stylesheet">
  <link href="..//assets/css/about.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brandrotate logoset" style="margin: 0; padding:0;" href="../index.html"><img src="..//assets/images/doo.png" class="logo"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="..//view/contact.html">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="..//view/calendar.html">Calender</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron hidden" style="background: #000 !important;">
        <div class="container">
        </div>
      </div>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-6 col-md-offset-3" style="background: #; height: 35em; margin-top: 10%;">

            <div class="col-md-6" style=" height: 50%; width: 50%; border: 0px dashed #aaa; height: 18em; -webkit-transform: rotate(45deg); -webkit-transform-origin:20% 40%; background: #2c3e50; border-radius: 5%;">
            </div>


            <div class="col-md-3" style="width: 7%; border: 0px dashed #aaa; height: 10%; -webkit-transform: rotate(45deg); -webkit-transform-origin:20% 40%; position: absolute; margin-top: 24em; margin-left: 9.4em; background: #7f8c8d">
            </div>

            <div class="col-md-3" style="width: 7%; border: 0px dashed #aaa; height: 10%; -webkit-transform: rotate(45deg); -webkit-transform-origin:20% 40%; position: absolute; margin-top: 21em; margin-left: 12.5em; background: #95a5a6">
            </div>

            <div class="col-md-3" style="width: 7%; border: 0px dashed #aaa; height: 10%; -webkit-transform: rotate(45deg); -webkit-transform-origin:20% 40%; position: absolute; margin-top: 18em; margin-left: 15.6em; background: #f39c12">
            </div>

            <div class="col-md-3" style="width: 7%; border: 0px dashed #aaa; height: 10%; -webkit-transform: rotate(45deg); -webkit-transform-origin:20% 40%; position: absolute; margin-top: 15em; margin-left: 18.7em; background: #f39c12">
            </div>

            <div class="col-md-3" style="width: 7%; border: 0px dashed #aaa; height: 10%; -webkit-transform: rotate(45deg); -webkit-transform-origin:20% 40%; position: absolute; margin-top: 12em; margin-left: 21.8em; background: #f39c12">
            </div>

          </div>
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
  </html>