<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">
  <title>project</title>
  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <script src="http://getbootstrap.com/assets/js/jquery.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <!-- Custom styles for this template -->
  <link href="..//assets/css/contact.css" rel="stylesheet">
  <link href="..//assets/css/main.css" rel="stylesheet">
  <link href="..//assets/css/project.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>
    <body style="background: #f8bf64">
      <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brandrotate logoset" style="margin: 0; padding:0;" href="../index.html"><img src="..//assets/images/doo.png" class="logo"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="calendar.html">Calender</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="#">Projects</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12" style="margin-top: 5%;">
          <h2 class="project-tag"> A better workplace starts with us</h2>
        </div>
      </div>

      <div class="row" style="padding: 20px; text-align: center; margin-top: 5%;">
        <div class="col-md-3">
          <div class="pan">
                <h2>Completd Projects</h2>
                <hr>
                <span class="bl-box">
                  <i class="icon-ok-sign" style="zoom: 8; position: relative;"></i></span>
                <hr>
                <p><a class="btn btn-success btn-large" href="completed_project.html">Details</a></p>
              </div>
        </div>
        <div class="col-md-3" align="center;">
          <div class="pan">
                <h2>Ongoing Projects</h2>
                <hr>
                <span class="bl-box">
                  <i class="icon-gears" style="zoom: 8; position: relative;"></i></span>
                <hr>
                <p><a class="btn btn-success btn-large" href="completed_project.html"> Details</a></p>
              </div>
        </div>
       <div class="col-md-3" align="center;">
          <div class="pan">
                <h2>Proposed Projects</h2>
                <hr>
                <span class="bl-box">
                  <i class="icon-legal" style="zoom: 8; position: relative;"></i></span>
                <hr>
                <p><a class="btn btn-success btn-large" href="proposed_project.html">Details</a></p>
              </div>
        </div>
        <div class="col-md-3" align="center;">
          <div class="pan">
                <h2>Upcoming Projects</h2>
                <hr>
                <span class="bl-box">
                  <i class="icon-gear" style="zoom: 8; position: relative;"></i></span>
                <hr>
                <p><a class="btn btn-success btn-large" href="completed_project.html">Details</a></p>
              </div>
        </div>
      </div>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script type="text/javascript"></script>
  </body>
  </html>